*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import "base/variables.scss";
@import "components/index.scss";
@import "components/mediaqueries.scss";