// Colors
$bg-color: #272727;
$bg-color-secondary: #2c2c2c;
$black-color: #2b2b2b;
$primary-color: #cca377;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

$font-primary:'Oswald', sans-serif;
$font-secundary:'Raleway', sans-serif;